* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Comfortaa', 'Montserrat-Regular';
}

hr {
    width: 50%;
    margin: auto;
    border: none;
    border-top: 10px dotted #7777ff;
    margin: 64px auto;
}

a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

a:hover {
    color: blue;
}

img {
    width: 128px;
}

ul {
    list-style-type: none;
}

li {
    margin-bottom: 16px;
}

.heading {
    font-size: 4rem;
    text-align: center;
    text-transform: uppercase;
}

.para-style-1 {
    margin-top: 16px;
    font-size: 1rem;
    font-weight: bolder;
    color: #777777;
}

.para-style-2 {
    font-size: 1.5rem;
    color: #333333;
    text-align: justify;
}

#education {
    background: #ffff77;
}

#experience {
    background: #77ff77;
}

#achievements {
    background: #77ffff;
}

#projects {
    background: #7777ff;
}

#skills {
    background: #ff7777;
}

#skills .para-style-2 {
    font-size: 2rem;
    font-weight: bolder;
}

#skills .para-style-1, #skills .para-style-2 {
    text-align: center;
}

.container-full-width {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.container-full-width .container-left {
    flex: 1 1 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-full-width .container-right {
    flex: 1 1 50%;
}

.container-full-width .slider {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    padding: 50px;
}

.container-full-width .slider .slider-item {
    flex: 1 1 100%;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    display: none;
    overflow: hidden;
}

.container-full-width .slider .slider-item .logo {
    width: 256px;
    height: 256px;
    position: absolute;
    top: 300px;
    right: 100px;
    z-index: 0;
}

.container-full-width .slider .current-item {
    display: unset;
}

.container-full-width .slider .card {
    padding: 32px 48px;
    border-radius: 32px;
    box-shadow: 4px 8px 16px 2px #00000077;
    background-color: white;
    overflow: hidden;
}

#skills .card {
    padding: 100px;
}

.container-full-width .slider .slider-button {
    position: absolute;
    top: 50%;
    background: white;
    box-shadow: 0 4px 4px 2px #00000077;
    width: 50px;
    height: 50px;
    font-size: 3rem;
    transform: translate(0%, -50%);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 200ms;
}

.container-full-width .slider .slider-button:hover {
    box-shadow: 0 2px 4px 2px #00000077;
}

.container-full-width .slider .button-left {
    left: 25px;
}

.container-full-width .slider .button-right {
    right: 25px;
}

#skills li {
    transition: 200ms;
}

#skills li:hover {
    color: red;
}
